$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$primary: #008BE7;
$primary-dark : #006fb8;
$navbar-padding :50px;
$color : #666;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding:$navbar-padding 0 0 0;
}
body .view{
  height:calc(100vh - #{$navbar-padding});
  display: flex;
  align-items: center;
  color: $color;
}

/*navbar overrides*/
.navbar{
  background-color: $primary;
  border-color: transparent;
}
.navbar .navbar-nav > li > a{
  color : white;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus{
  background-color: $primary-dark;
  color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: $primary-dark;
}
.navbar-default .navbar-brand {
  color: white;
}
/*helper class*/
.marg-top-20{
  margin-top: -20%;
}
