<div class="well">
  <div class="row">
    <div class="col-sm-12">
      <label for="country">Country:</label>
      <input class="form-control" id="country" ng-model="country.name">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label for="latitude">Latitude:</label>
      <input class="form-control" id="latitude" ng-model="country.latlng[0]">
    </div>
    <div class="col-sm-6">
      <label for="longitude">Longitude:</label>
      <input class="form-control" id="longitude" ng-model="country.latlng[1]">
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="well">
  <div class="row">
    <div class="col-sm-12">
      directive for city
    </div>
  </div>
</div>
